@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


// Set your brand colors
$olive-green: #4D6A2A;
$light-olive: #63922A;
$apple-green: #94B70A;
$gold: #CA910D;
$taupe: #B98B6E;

// Update Bulma's global variables
$family-sans-serif: "Montserrat", sans-serif;
$grey-dark: $apple-green;
$grey-light: $light-olive;
$primary: $olive-green;
$link: $gold;
$widescreen-enabled: false;
$fullhd-enabled: false;


// Update some of Bulma's component variables
$body-background-color: $taupe;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

.title{
  color: $olive-green;
}
.brandfont {
  font-family: "Montserrat", "arial", sans-serif;
}
nav{
  background: linear-gradient(to right, rgba(71, 104, 41, 1), rgba(88, 144, 42, 1));
  background-position: fixed;
}
.post-background{
  background: linear-gradient(rgba(10, 60, 70, 0.3), rgba(10, 60, 70, 0.3)),
    url("https://images.pexels.com/photos/408503/pexels-photo-408503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.box{
  margin: 0 auto;
  text-align: center;
}
.home {
  background: linear-gradient(rgba(10, 60, 70, 0.3), rgba(10, 60, 70, 0.3)),
    url("https://images.pexels.com/photos/269633/pexels-photo-269633.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
}
.is-link{
  color: white;
}
.is-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  color: #CA910D;
  background: #CA910D;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.is-link:hover:after { 
  width: 100%; 
  left: 0; 
}

// FORM STYLING
.form-container {
  // border: 5px solid yellow;
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.title {
  color: rgba(71, 104, 41, 1);
  font-size: 35%;
}

.field {
  // border: 5px solid pink;
  width: 75%;
}

Form {
  // border: 5px solid purple;
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label, ul {
  font-weight: bold;
}

button {
  
  height: 20%;
}


.form-instructions {
  // border: 5px solid orange;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.form-instruction {
  padding: 2%;
}



h1 {
  color: rgba(71, 104, 41, 1);
}
.footer{
  color: $olive-green;
}
#olive-green-text{
  color: $olive-green;
}
#olive-green-button{
  background-color:$olive-green;
  color:white;
}
.card{
  min-height: 200px;
  max-height: 200px;
}
.post-info{
  max-width: 600px;
}
.meet-user{
  max-width: 400px;
}
ul {
  max-width: 100px;
  text-align: center;
}
